body {
    background-color: #553f385c;
}
div#contenedor {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 5%;
}
#cont1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-color: #862e0d;
}
