@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

body{
    background-color: #000;
    color: white;
    /* margin-top: 0; */
    font-family: 'Cinzel Decorative', cursive;
    margin: 0;
    overflow: hidden;
}
#fondoMobile{
    display: none;
}
#fondoPc{
    width: 100%;
    height: 100vh;
    opacity: 1;
}
div#contenedor {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}   
.direccion{
    text-decoration: none;
    color: white;
    font-weight: 900;
    cursor: pointer;
}
.direccion:hover{
    transform: scale(1.1);
}
.contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 600px;
    transform: translate(-50%, -50%);
    /* height: 25%; */
    padding: 5%;
    /* background-image: linear-gradient(to left, #0f0c29, #302b63, #24243e);  */
    background-color: #000000aa;
    opacity: 0.9;
    border-radius: 5%;
}
@keyframes fade-in{
    to{
        opacity: 0.9;
    }
}
.contenido{
    opacity: 0;
    animation: fade-in 1s 2s forwards;
}
.pawPatrol{
    position: fixed;
    top: 0;
    left: 0;
}
.confirmar{
    text-decoration: none;
    cursor: pointer;
    color: white;
    background-color: #000000e7;  
    padding: 1%;
    font-weight: 100;
    border-radius: 25px;
}
.confirmar:hover{
    transform: scale(1.1);
}
@media (max-width:1000px){
    body{
        overflow: hidden;
    }
    #fondoMobile{
        display: flex ;
    }
    #fondoPc{
        display: none;
    }
    .contenido {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 768px;
        transform: translate(-50%, -50%);
        padding: 5%;
        background-color: #000000aa;
        opacity: 0.9;
        border-radius: 5%;
    }
    @keyframes fade-in{
        to{
            opacity: 0.9;
        }
    }
    .contenido{
        opacity: 0;
        animation: fade-in 1s 2s forwards;
    }
    p.parrafo {
        margin: 0;
        margin-right: 5%;
        padding: 5%;
        font-size: 12px;
    }
    .confirmar{
        margin-right: 5%;
        text-decoration: none;
        cursor: pointer;
        color: white;
        background-color: #000000e7;  
        padding: 1%;
        font-weight: 100;
        border-radius: 25px;
    }
}