@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

body{
    /* margin-top: 0; */
    font-family: 'Cinzel Decorative', cursive;
    margin: 0;
    overflow: hidden;
    min-height: 100vh;
}
#fondoPc{
    opacity: 0.8;
}
div#contenedor {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}   
.direccion{
    text-decoration: none;
    cursor: pointer;
}
.contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25%;
    transform: translate(-50%, -50%);
    /* height: 25%; */
    padding: 5%;
    background-color: antiquewhite;
}
/* @keyframes grow{
    0%,100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.3);
    }   
}
span{
    animation: grow 2.5s infinite;
} */

@media (max-width:768px){
 #fondoPc{
    display: none;
 }

}